<!-- Banner Section -->

<div
  class="d-flex flex-column flex-lg-row gap-4 align-items-center justify-content-lg-start bg-gardien"
>
  <div
    class="d-flex flex-column align-items-start justify-content-center text-container"
    style="max-width: 50%; padding: 28px !important"
  >
    <h1
      style="
        color: #f6fcdf;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 48px;
      "
    >
      Welcome to Pingui
    </h1>
    <p
      style="
        color: #f6fcdf;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 48px;
      "
    >
      AI-Powered Energy Disaggregation and Rewards System
    </p>
    <a
      (click)="goToConnectWallet()"
      class="btn btn-outline-warning"
      style="color: #f6fcdf; border-radius: 16px; padding: 16px 27px"
    >
      Link Your Wallet Now
    </a>
  </div>
</div>

<!-- Features Section -->
<section class="features">
  <div class="feature">
    <h2>Energy Disaggregation</h2>
    <p>
      Our AI model analyzes your energy usage to provide detailed insights and
      help reduce waste.
    </p>
  </div>
  <div class="feature">
    <h2>Earn Rewards</h2>
    <p>
      Lower your energy consumption and earn ERC-20 tokens as rewards for your
      efforts.
    </p>
  </div>
  <div class="feature">
    <h2>Eco-Friendly Lifestyle</h2>
    <p>
      Take steps toward a greener future by optimizing energy usage with Pingui.
    </p>
  </div>
</section>
